* {
    box-sizing: border-box;
}

#texto-contato {
    display: flex;
    justify-content: center;
}

#texto-contato-2 {
    display: flex;
    flex-direction: column;
}

#contato-page {

    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

#infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px; 
}

.info, .info3, #endereco {
    min-width: 300px; 
    max-width: 550px;
    width: 100%;
    background-color: #101010;
    border-radius: 10px;
    padding: 1.5rem;
    box-sizing: border-box; 
}

.info3, #endereco {
    margin-top: 24px;
}

.info2 {
   display: grid;
}

button {
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    border: 2px solid #9B7738;
    border-radius: 10px;
    background: transparent;
    color: #9B7738;
    padding: 0 1rem;
    height: 2.25rem;
    transition: 0.3s;
}

button:hover {
    color: black;
    background-color: #9B7738;
}

.texto {
    max-height: 26px;
    margin-bottom: .75rem;
}

#numero {    
    max-height: 26px;
    margin-bottom: 1.5rem;
}

#maps {       
    border-radius: 8px;     
    border: none;
    display: block;
    margin-top: 1rem;
}

#endereco {
    width: 100%;            
    max-width: 550px;       
    background-color: #101010;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 24px;
    box-sizing: border-box; 
}

@media screen and (max-width: 768px) { 
    #contato-page {
        min-width: 0; 
        padding: 0 15px;
        overflow-x: hidden; 
    }

    #infos {
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }

    .info, .info3, #endereco, #maps {
        width: 100% !important; 
        max-width: 100%;
        box-sizing: border-box; 
    }

    #endereco {
        padding: 1rem;
        margin: 0 auto;
    }


    #maps iframe {
        width: 100% !important;
        height: 300px; 
    }
}