body {  
    background: black;
    color: white;
    font-family: "Lexend Deca", sans-serif; 
}
header {
    background: black;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: all;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 5rem;
    justify-content: center;
    
}


nav{
    display: flex; 
    align-items: center;
    gap: 8px;
    right: 0;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1024px;
}


#page{
    min-height: 100vh;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

#logo, .logo{
    height: 56px;
}

#sobre{
    background-color: #333333;
    width: 100%;
}

#texto-sobre{
    text-align: center;
}

#footer-2{
    display: flex;
    justify-content: center;
}

#contato{
    
}

#icons{
    display: flex;
    gap: 8px;
}

#footer-3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2{
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.025em;
}

.icons{
    height: 48px;
    width: 48px;
}

a {
    color: white; 
    text-decoration: none; 
}

.underline-hover {
  text-decoration: none;
  position: relative;
  color: white;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9B7738;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.footer{
    position: relative;
    bottom: 0;
}

.slider{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slides{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slider input{
    display: none;
}

.slide{
    width: 100%; 
    flex-shrink: 0; 
    position: relative;
    transition: 0.8s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation, .navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 10px; 
    display: flex;
    justify-content: center;
    z-index: 10;
}

.manual-btn, .navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s; 
    margin: 0 10px; 
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .slides {
    transform: translateX(0%);
}

#radio2:checked ~ .slides {
    transform: translateX(-100%); 
}

#radio3:checked ~ .slides {
    transform: translateX(-200%); 
}

.navigation-auto {
    margin-top: calc(100% / 2 - 40px); 
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio1:checked ~ .manual-navigation .manual-btn[for="radio1"] {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2,
#radio2:checked ~ .manual-navigation .manual-btn[for="radio2"] {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3,
#radio3:checked ~ .manual-navigation .manual-btn[for="radio3"] {
    background-color: white;
}

#nav {
    display: none;
}


#menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #9B7738; 
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    #menu-toggle {
        display: flex; 
        flex-direction: column;
        justify-content: space-around; 
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 100;
    }

    #menu-toggle .bar {
        width: 100%;
        height: 3px;
        background-color: #9B7738; 
        border-radius: 10px;
        transition: 0.3s;
    }

    nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 5rem; 
        left: 0;
        right: 0;
        background-color: black;
        padding: 1rem;
        gap: 20px;
        text-align: center;
        border-bottom: 2px solid #9B7738;
    }

    nav.active {
        display: flex;
    }

    #nav {
        min-width: unset; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1024px; 
    }

    .nav {
        min-width: unset; 
        width: 100%;                
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    
    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .logo{
        display: none;
    }

    .slider {
        width: 95%; 
        aspect-ratio: 16 / 9; 
    }

    .manual-navigation, .navigation-auto {
        width: 100%;
    }

    .navigation-auto {
    
        margin-top: 170px; 
    }
    
    .manual-btn, .navigation-auto div {
        padding: 4px; 
        margin: 0 6px;
    }

}